<launch>
  <!-- Vehicle's initial position -->
  <arg name="x" default="40"/>
  <arg name="y" default="105"/>
  <arg name="z" default="-85"/>
  <arg name="yaw" default="0"/>
  <arg name="use_ned_frame" default="false"/>

  <arg name="joy_id" default="0"/>
  <arg name="pointcloud_out" default="/eca_a9/blueview_m450/point_cloud"/>

  <include file="$(find eca_a9_description)/launch/upload_eca_a9.launch">
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="yaw" value="$(arg yaw)"/>
  </include>

      <arg name="robot_name" default="eca_a9"/>
    <arg name="planning_horizon" default="50"/>
    <arg name="replan_horizon" default="10"/>
    <arg name="planning_resolution" default="1"/>
    <arg name="radius_min" default="10"/>
    <arg name="astar_iteration" default="15000" />
    <arg name="bound_box_length" default="3" />
    <arg name="bound_box_width" default="2" />
    <arg name="bound_box_height" default="2" />
    <arg name="collision_distance" default="0.5" />
    <arg name="v_max" default="1.5" />
    <arg name="step_min" default="2"/>

  <!-- Initialize the recording fo the simulation according to the record flag  -->

  <include file="$(find eca_a9_control)/launch/start_geometric_tracking_control.launch"/>

  <arg name="voxel_size" default="1"/>
  <arg name="voxels_per_side" default="16"/>
  <arg name="ray_length" default="100"/>
  <arg name="method" default="fast"/>
  <arg name="verbose_voxblox" default="false"/>



  <node name="voxblox_node" pkg="voxblox_ros" type="esdf_server" output="screen" args="-alsologtostderr">
  <remap from="pointcloud" to="$(arg pointcloud_out)"/>
  <param name="use_tf_transforms" value="true"/>
  <param name="publish_tsdf_map" value="true" />
  <param name="publish_esdf_map" value="true" />
  <param name="tsdf_voxel_size" value="$(arg voxel_size)" />
  <param name="tsdf_voxels_per_side" value="$(arg voxels_per_side)" />
  <param name="color_mode" value="color" />
  <param name="update_mesh_every_n_sec" value="1.0" />
  <param name="method" value="$(arg method)" />
  <param name="max_ray_length_m" value="$(arg ray_length)" />
  <param name="allow_clear" value="true" />
  <param name="verbose" value="$(arg verbose_voxblox)" />
</node>


  <arg name="planner_config" default="planners/woods_maze_planner.yaml"/>
  <node name="planner_node" pkg="active_3d_planning_app_reconstruction" type="reconstruction_planner_node" output="screen">
		  <!-- Voxblox Server -->
      <!-- <remap from="pointcloud" to="$(arg pointcloud_out)"/> -->
      <remap from="planner_node/esdf_map_in" to="voxblox_node/esdf_map_out" />
      <remap from="planner_node/tsdf_map_in" to="voxblox_node/tsdf_map_out" />
      <param name="use_tf_transforms" value="false" />
      <param name="tsdf_voxel_size" value="$(arg voxel_size)" />
      <param name="tsdf_voxels_per_side" value="$(arg voxels_per_side)" />
      <param name="update_mesh_every_n_sec" value="0.0" />   
      <param name="publish_traversable" value="true" />    
      <param name="publish_pointclouds" value="true" />              

    	<!-- General Settings -->
      <!-- <remap from="odometry" to="/$(arg mav_name)/ground_truth/odometry" />
      <remap from="command/trajectory" to="/$(arg mav_name)/command/trajectory" />
      <remap from="traj_server/trajectory" to="/$(arg mav_name)/traj_server/trajectory" />
      <remap from="replan_singal" to="/$(arg mav_name)/replan_singal" /> -->

      <!-- Build the Planner by Configuration     -->
      <rosparam command="load" file="$(find active_3d_planning_app_reconstruction)/cfg/$(arg planner_config)"/>
  </node>    
  


</launch>
